.status {
  position: absolute;
  color: white;
  font-family: arial;
}
.number {
text-align: right;
}
.timer {
  position: absolute;
}

@media (min-width: 360px) {
  .counter {
    right: 30px;
    top: 30px;
  }
  .status {
    font-size: 20px;
  }
  .timer {
    right: 30px;
    bottom: 30px;
  }
}

@media (min-width: 750px) {
  .counter {
    right: 30px;
    top: 40px;
  }
  .status {
    font-size: 30px;
  }
  .timer {
    right: 30px;
    bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .counter {
    right: 40px;
    top: 40px;
  }
  .status {
    font-size: 30px;
  }
  .timer {
    right: 40px;
    bottom: 40px;
  }
}
