.status {
  position: absolute;
  color: white;
  font-family: arial;
}
.number {
  text-align: right;
}
.timer {
  position: absolute;
}

@media (orientation: portrait) and (min-width: 360px) {
  .counter {
    right: 30px;
    top: 30px;
  }
  .status {
    font-size: 20px;
  }
  .timer {
    right: 30px;
    bottom: 30px;
  }
}
