menu {
  position: absolute;
  padding: 30px 20px;
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
  color: white;
  transform: translateX(-300px);
  transition: transform 0.5s 0.1s ease;
  width: 300px;
}
menu.menu--active {
  transform: translateX(0px);
}
menu > p {
  margin: 20px 0;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
}
menu > p:hover {
  background-color: rgba(255, 192, 203, 0.3);
}
