menu {
  position: absolute;
  font-family: georgia;
  font-weight: bold;
  color: white;
}
menu > p {
  margin: 20px 0;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 360px) {
  menu {
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    font-size: 30px;
    transform: translateX(-400px);
    transition: transform 0.5s 0.1s ease;
    width: 300px;
    background-color: rgba(201, 115, 129, 0.5);
  }
  menu.menu--active {
    transform: translateX(0px);
  }
}

@media (min-width: 750px) {
  menu {
    padding: 30px 20px;
    font-size: 30px;
    transform: translateX(-300px);
    transition: transform 0.5s 0.1s ease;
    width: 300px;
  }
  menu.menu--active {
    transform: translateX(0px);
  }
  menu > p:hover {
    background-color: rgba(255, 192, 203, 0.3);
  }
}
