@import "hamburger.css";
@import "menu.css";
@import "game-data.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(116, 90, 25);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

canvas {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
body > img {
  position: absolute;
  z-index: -1;
  width: inherit;
  height: inherit;
}

main {
  margin: auto;
}
@media (orientation: landscape) {
  main {
    width: 90vh;
    height: 90vh;
  }
}
@media (orientation: portrait) {
  main {
    width: 90vw;
    height: 90vw;
  }
}

.numberflip-digit-container {
  display: flex;
  overflow: hidden;
  position: relative;
  transition-property: opacity;
  transition-duration: 200ms; /* Could be ommitted. The duration is set dynamically  */
  &.dot {
    &,
    & * {
      width: 10px;
    }
  }
}
/*Number flip: */
.numberflip-digit-container-value {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition-property: transform;
  transition-duration: 1000ms; /* Could be ommitted. The duration is set dynamically  */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Needed for the numbers to be spaced evenly between one another. */
.numberflip-digit-container-value span {
  text-align: center;
}

@keyframes numberflip-animation-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}