.hamburger {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transform: translateX(0px);
  transition: transform 0.5s 0.1s ease;
  outline: 0;
}
.hamburger.hamburger--active {
  transform: translateX(270px);
}
.hamburger__box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
}
.hamburger__inner {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  transition: background-color 0.2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  background-color: white;
  transition: transform 0.2s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger__inner::before {
  top: -15px;
}
.hamburger__inner::after {
  top: 15px;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner::before {
  transform: translateY(15px) rotate(45deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-15px) rotate(-45deg);
}

menu {
  position: absolute;
  padding: 30px 20px;
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
  color: white;
  transform: translateX(-300px);
  transition: transform 0.5s 0.1s ease;
  width: 300px;
}
menu.menu--active {
  transform: translateX(0px);
}
menu > p {
  margin: 20px 0;
  padding: 0px 5px;
  text-align: center;
  cursor: pointer;
}
menu > p:hover {
  background-color: rgba(255, 192, 203, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(116, 90, 25);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
main {
  margin: auto;
  width: 90vh;
  height: 90vh;
}
canvas {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
body > img {
  position: absolute;
  z-index: -1;
  width: inherit;
  height: inherit;
}

.counter {
  position: absolute;
  right: 60px;
  top: 30px;
  font-size: 40px;
  color: white;
  font-family: arial;
}
.counter-number {
  text-align: right;
}

@media (max-width: 700px) {
  main {
    margin-top: 70%;
    width: 90vw;
    height: 90vw;
  }
}

